@model IEnumerable<HomeIndexViewModel>

<h1>Our Books</h1>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Is in stock?</th>
            <th>New book?</th>
        </tr>
    </thead>
    @foreach (var item in Model) 
    {
        <tr>
            <td>@item.Ttl</td>
            <td>@item.Auth</td>
            <td>@item.S</td>
            <td>@(item.O == false)</td>
        </tr>
    }
</table>
