@model IEnumerable<HomeIndexViewModel>

<h1>Our Books</h1>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Is in stock?</th>
            <th>New book?</th>
        </tr>
    </thead>
    @foreach (var x in Model) 
    {
        <tr>
            <td>@x.Ttl</td>
            <td>@x.Auth</td>
            <td>@x.S</td>
            <td>@(x.O == false)</td>
        </tr>
    }
</table>
